<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
    </head>
    <body class="p-5 mt-5">

        <img src="/src/assets/" alt="">

        <h1>Sobre Mim:</h1>
        
        <h6 class="conteudo-mim">
            Meu nome Olga de Oliveira, tenho 21 anos, sou natural de Aparecida do Taboado-MS. Desde criança tenho paixão por estudar, sempre me destaquei na escola por gostar muito de aprender coisas novas. Já participei de olimpíadas de Matemática, Geografia, Português, mas sempre gostando muito de participar de competições da escola para desenvolver minhas habilidades que aprendi na escola. <br>

        </h6 >

         <h6 class="conteudo-mim">
            Já foi premiada na escola por ser aluna destaque, por ter boas notas, isso mostra todo meu esforço que busco levar tanto na faculdade como na minha vida profissional. Hoje, estou na faculdade, nestes últimos três anos, colhi alguns frutos que com certeza vai me ajudar bastante na minha carreira como Desenvolvedora. <br>
            
        </h6>

        <h6 class="conteudo-mim">
            Quando eu era criança recebi meu primeiro computador, ele era um Windows 95, lembro-me de ter que formatar toda a semana, pois estava muito antigo, mas foi nesta época que descobri que tinha uma paixão por computadores e aprender a mexer neles. <br>
        </h6>
        
        <h6 class="conteudo-mim">
             Nesta época eu tirava todos os fios do computador e tentava colocar novamente e ficava muito feliz em conseguir ligar ele novamente, depois deste computador tive outros computadores, mas sempre fui curiosa em gostava muito descobrir funções escondida no computador. <br>
        </h6>

        <h6 class="conteudo-mim">
            No entanto, esta paixão por mexer no computador deu uma amenizada, comecei a gostar de direito então passei minha adolescência pensando em fazer direito, ser uma Advogada. Mas no 2021, quando foi prestar meu vestibular para faculdade federal, acabei tendo minha vaga desclassificada, mas isso, não me entristeceu continuei estudando mostrando que algo melhor estava por vir. <br>
        </h6>
        <h6 class="conteudo-mim" >   
           Então em 2022, achei que deveria tentar outra coisa buscar um novo rumo, nova experiencia. Pois bem, acabei entrando em ADS, onde achei que tinha uma oportunidade de conseguir uma carreira e depois disso cursar direito. Mas hoje em 2024, tendo meu projeto na faculdade, estagiando, e no último ano da faculdade, mas vejo que foi uma escolha muito certa, pois tenho certeza de que minha melhor escolha foi ter entrado para ADS, para me tornar desenvolvedora. <br>
        </h6>

        <h6 class="conteudo-mim">
             Hoje eu sei que estou no caminho certo, espero muito que eu desenvolva muito como Desenvolvedora, que eu possa influenciar outras meninas a entrarem para esta área tão bonita, mas que ainda tem poucas meninas que seguem esta carreira. <br>
        </h6>             
    </body>
    </html>



