
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>

    <h1>Habilidade:</h1>
    <p>
        <strong>Minhas habilidades</strong>
     </p>
            <h6 class="conteudo-habi">
                Habilidades ainda estou buscando ter, a partir do estágio quero buscar ter habilidades os suficientes para crescer profissionalmente na área.<br>
           </h6>

           <h6 class="conteudo-habi">
                Agora no monento, estou criando habilidades em Angular, CSS, JavaScript, entre outras linguagens, espero que aprenda no estágio.<br>
           </h6>

            <h6 class="conteudo-habi">
                Possuo habilidade na área da qualidade, na época que trabalhava em uma empresa de brinquedos, era responsável por verificar brinquedos com alguma conformidade presente.
            </h6>

          
</body>
</html>
   
