
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body  class="p-5 mt-5">

    <h1 class="title-titulo"> Minhas Habilidades:</h1>

    <h4 class="title-texto">Habilidades como jovem Aprendiz:</h4>

            <h6 class="conteudo-habi">
                Possuo habilidade na área da qualidade, na época que trabalhava em uma empresa de brinquedos, era responsável por verificar brinquedos com alguma conformidade presente.
            </h6>   

    <h4 class="title-texto">Habilidades no estágio:</h4>

             <h6 class="conteudo-habi">
                    Habilidades ainda estou buscando ter, a partir do estágio quero buscar ter habilidades os suficientes para crescer profissionalmente na área.<br>
            </h6>

           <h6 class="conteudo-habi">
                Agora no monento, estou criando habilidades em Angular, CSS, JavaScript, HTML, entre outras linguagens, espero que eu aprenda no estágio.<br>
           </h6>

        <img src="/assets/img/angular.png" alt="angular" class="rounded-circle">
            <img src="/assets/img/css.png"  alt="css"      class="rounded-circle">
                <img src="/assets/img/html.png" alt="html" class="rounded-circle">
                   <img src="/assets/img/js.png" alt="js"  class="rounded-circle">


           
</body>
</html>
   
