<!DOCTYPE html>
   <html lang="pt-br">
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
   
   </head>
   <body>

      <h1>Formação:</h1>

        <p>
         <strong>Assistente Administrativo:</strong>
      </p>
               <h6>
                  Sou formada em Assistente Administrativo, pelo Senai de Aparecida do Taboado, fiz 1 ano de curso e ainda trabalhava como aprendiz na empresa Gala IBB Ind. Brasileira De Brinquedos E Embalagens Ltda.<br> 
               </h6>
       <p>
         <strong>Curso Excel:</strong>
      </p>
               <h6>
                  Possuo curso de Excel, fiz por 5 meses entre 2022/2023.<br>
               </h6>
       <p>
         <strong>Gradução:</strong>
      </p>
            <h6>
               Faço Faculdade de Analise e desenvolvimento de Sistema, pela UNIFUNEC, 2022/2024.
            </h6>
            
   </body>
   
   </html>

    
    

