<!DOCTYPE html>
   <html lang="pt-br">
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
   
   </head>
   <body class="p-5 mt-5">

      <h1>Formação:</h1>

        <h3>
         <strong>
            <img src="/assets/img/senai.png" alt="senai"class="rounded-circle">Assistente Administrativo:</strong>
         </h3>
               <h6 class="conteudo-forma">
                  Sou formada em Assistente Administrativo, pelo Senai de Aparecida do Taboado, fiz 1 ano de curso e ainda trabalhava como aprendiz na empresa Gala IBB Ind. Brasileira De Brinquedos E Embalagens Ltda. 2019/2020 <br> 
               </h6>
       <h3>
         <strong> <img src="/assets/img/excel.png" alt="excel"class="rounded-circle">Curso de Excel:</strong>
       </h3>
               <h6 class="conteudo-forma">
                  Possuo curso de Excel, fiz por 5 meses entre 2022/2023.<br>
               </h6>
       <h3> 
         <strong><img src="/assets/img/images.png" alt=" unifunec"class="rounded-circle">Gradução:</strong>
       </h3>
             <h6 class="conteudo-forma"> 
               Faço Faculdade de Analise e desenvolvimento de Sistema, pela UNIFUNEC, entrei em 2022, vou finalizar no ano de 2024
            </h6>
  
   </body>
   
   </html>

    
    

